a,li {
    color:black;
    font-size: 20px;
    padding-bottom: 10px;
}
h1{
    border-bottom: 1px solid gray;
    margin: 0;
    padding: 20px;
}
ol{
    padding-top: 20px;
    padding-left: 55px;
}
#grid{
    display: grid;
    grid-template-columns: 400px 1fr;
}
@media(max-width: 1000px){
    #grid{
        display: block;
    }
    p{
        border-right: none;
        border-top: 1px solid gray;
    }
}
